.main{
   // background-color: red;
}
.page__title{
   width: 100%;
   display: flex;
   justify-content: center;
   margin: 50px 0;
}
.page__title h2 {
   color: black;
   font-weight: 600;
   font-size: $font_big;
}


.catalog__filter {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.catalog__line{
   width: 100%;
   background-color: black;
   height: 2.5px;
   opacity: 0.5;
   margin-top: 30px;
   margin-bottom: 15px;
}
.filter__filters {
}
.filters__select {
}
._filter{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 5px;
   cursor: pointer;
}


.catalog__devices_grid{
   display: grid;
   // grid-template-columns: repeat(3, 1fr);
   // grid-auto-rows: 360px;
   grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
   justify-items: center;
}
@media (max-width: 768.90px) {
   .catalog__devices_grid{
      grid-template-columns: repeat(auto-fill, minmax(35%, 1fr));
   }
}
@media (max-width: 552px) {
   .catalog__devices_grid{
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
   }
}
.device{
   position: relative;
   background: #FFFFFF;
   box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.25);
   width: 90%;
   height: 400px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   margin: 25px 0px;
   padding: 15px 0px;
   cursor: pointer;
}
.device h3{
   font-size: 1.5rem;
   font-weight: 500;
}

// ЕСЛИ СТИЛИ ПОМЕНЯЮТСЯ !!!

.device:hover{
   width: 95%;
   // color: white;
   transition: all 0.5s ease 0s;
   box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
   // .item__name_and_price a{
   //    background-color: white;
   //    color: black;
   // }
}
.item__name_and_price{
   width: 85%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
.item__name_and_price a{
   font-size: 1.3rem;
   color: white;
   background-color: black;
   padding: 12.5px;
}
.item_favotites{
   position: absolute;
   right: 5px;
   top: 5px;
}
.catalog_item_img{
   height: 70%;
}


.item_clr{
   display: flex;
   flex-direction: row;
   align-items: center;
}
.item_clr p{
   font-weight: 400;
   font-size: 1.15rem;
}
.item__colors{
   width: 15px;
   height: 15px;
   border-radius: 50%;
   border: 1px solid black;
   margin: 0px 2.5px;
}




// COLORSSSSSS !!!!

.Black{
   background-color: black;
}
.White{
   background-color: white;
}
.Blue{
   background-color: blue;
}
.Yellow{
   background-color: yellow;
}
.Coral{
   background-color: coral;
}
.Red{
   background-color: red;
}
.Purple{
   background-color: purple;
}
.Midnight_Green{
   background-color: #004953;
}
.Space_Gray{
   background-color: #4f5b66;
}
.Silver{
   background-color: #c0c0c0;
}
.Gold{
   background-color: #FFD700;
}
.Green{
   background-color: green;
}
.Graphite{
   background-color: #383428;
}
.Pacific_Blue{
   background-color: #1ca9c9;
}
.Starlight{
   background-color: #b4cfd9;
}
.Midnight{
   background-color: #2B333D;
}
.Sierra_Blue{
   background-color: #69abce;
}
.Rose_Gold{
   background-color: #B76E79;
}
.Sky_Blue{
   background-color: #87CEEB;
}