.main{
   // background-color: red;
}
.page__title{
   width: 100%;
   display: flex;
   justify-content: center;
   margin: 50px 0;
}
.page__title h2 {
   color: black;
   font-weight: 600;
   font-size: $font_big;
}


.catalog__filter {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.filter__filters {
}
.filters__select {
}
._filter{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 5px;
}