@import "@/assets/styles/variables.scss";

.header {
   width: 100%;
   display: flex;
   flex-direction: column;
   position: relative;
 }
 .header__upper a {
  color: white;
 }
//  .header__container {
//   width: 100%;
//   font-size: 1rem;
//   display: flex;
//   flex-direction: column;
//  }
 .header__upper {
  background-color: black;
  color: white;
  // display: none;
 }
 .header__upper_container{
  @include flexrow;
  height: 35px;
  justify-content: space-between;
  align-items: center;
 }
 .upper__location {
  @include flexrow;
  align-items: center;
  width: 15%;
  gap: 5px;
 }
 .upperText {
  font-size: $font_mini;
 }
 .upper__delivery {
  @include flexrow;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
 }


 .asa{
  @include flexrow;
  justify-content: space-between;
  width: 85%;
  align-items: center;
 }

 .line {
 }
 .line._upper{
  // margin-right: 22px;
 }
 a._grey{
  color: #B4B4B4;
 }
 img.loc{
  position: relative;
  top: -1.5px;
 }
 .upper__userProfile {
  @include flexrow;
  gap: 5px;
  align-items: center;
 }
 .header__main a{
  color: black;
}
.header__main{
  // position: relative;
  // top: 10px;
  width: 100%;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
}
.header__main_container{
  @include flexrow;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  font-size: $font_regular;
 }
.main__logo {
  font-family: 'Jockey One', sans-serif;
  font-size: 1.5rem;
}
a.blue{
  color: #0500FF;
}
.main__menubar {
}
.main__nav {
  @include flexrow;
  width: 80%;
  gap: 15px;
  // justify-content: space-between;
}
.nav_link {

}
.main__shopper {
  @include flexrow;
  align-items: center;
  gap: 25px;
}
.line {
}

@media (min-width: 770px) {
  ._adapt{
    display: none;
  }
}

@media (max-width:769.9px) {
    .main__nav{
      overflow-x: scroll;
      scrollbar-width: 0px;
      // padding: 0px 15px;
    }
  .main__nav {
      scrollbar-width: 1px; /* firefox */
      width: 100%;
  }
  .main__nav::-webkit-scrollbar { /* webkit */
      width: 0;
      height: 0;
  }
    .main__logo{
      display: none;
    }
    .asa{
      width: 100%;
      
    }
    .main__shopper{
      gap: 10px;
    }
    .header__upper{
      height: 48px;
    }
    .header__upper_container{
      position: relative;
      height: 48px;
    }

    .burger__adaptive{
      width: 35px;
      height: 35px;
      color: white;
      animation-name: open;
  animation-duration: 0.35s;
  animation-delay: 0s;
  transition: all 0.35s ease 0s;
    }
    .burger__adaptive{
      margin-left: 5px;
      width: 34px;
      height: 22px;
      z-index: 12;
      display: block;
      position: relative;
      cursor: pointer;
    }
    .burger__adaptive span,
  .burger__adaptive::before,
  .burger__adaptive::after {
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      background-color: white;
    }
    .burger__adaptive span {
      top: 50%;
      -webkit-transform: scale(1) translate(0px, -50%);
              transform: scale(1) translate(0px, -50%);
      z-index: 90;
    }
    .burger__adaptive::before,
  .burger__adaptive::after {
      content: "";
      z-index: 12;
    }
    .burger__adaptive::before {
      top: 0;
      z-index: 12;
    }
    .burger__adaptive::after {
      bottom: 0;
      z-index: 12;
    }
    // .burg::before{
    //   position: absolute;
    //   cursor: pointer;
    //   height: 10px;
    //   z-index: 12;
    //   background-color: white;
    // }

  ._qqq{
    display: none;
  }
  ._adapt{
    display: block;
  //   position: fixed;
  //   width: 100%;
  //   display: flex;
  //   flex-direction: row;
  // height: 48px;
  // z-index: 20;
  }
  .header__upper_adaptive {
    display: flex;
    position: fixed;
    z-index: 10;
    flex-direction: column;
    // gap: 25px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 25%;
    animation-name: open;
    animation-duration: 0.35s;
    animation-delay: 0s;
    // padding: 20px 0;
  }
  ._fb{
    font-size: 1rem;
    width: auto;
  }
  ._mobile {
    display: block;
  }
  .upper__location {
    width: auto;
  }
  .loc {
  }
  .upperText {
  }
  .upper__delivery {
  }
  ._upper {
  }
  .upper__userProfile {
  }
  ._fixed{
    position: fixed;
    width: 100%;
    z-index: 15;
  }
  ._lll{
    margin-top: 48px;
  }
}
._xxx{
  display: none;
  animation-name: open;
  animation-duration: 0.35s;
  animation-delay: 0s;
}
._scale span{
  opacity: 0;
}
._scale::before{
  top: 45%;
  transform: rotate(45deg);
}
._scale::after{
  bottom: 45%;
  transform: rotate(-45deg);
}

@keyframes open{
  0%{
    top: 0%;
  }
  100%{
    top: 48px;
  }
}


// MODAAAAAAAAAAAAAALLLL
